/**
	GENERAL 
**/
    html,
    body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-family: Helvetica,Arial,sans-serif;
        background:#c8c8c8;
    }

/**
	WRAPPER
**/
    #wrapper {
        background:url(/img/site/misc/bg_global_24.png) repeat 0 -60px;
        height: 100%;
        width: 100%;
        overflow:auto;
    }

/**
	LOADER
**/
    #loading {
        height: 100%;
    }

/**
	HEADER
**/
    #header {
        overflow:hidden;
        margin-bottom:7px;
    }
    #header-container {
        margin:0 auto;
        overflow:hidden;
        width:1160px;
    }

    /**
        HEADER LEFT
    **/

        #header-left {
            float: left;
            width: 180px;
            margin: 10px 12px 0 20px;
        }
        #header-left ul {
            margin-left: 16px;
        }
        #header-left li {
            float: left;
            display:block;
            margin-right: 3px;
        }
        #header-left #resume {
            background:#494949;
            margin-right: 6px;
        }
        #header-left #resume a {
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
        }


    /**
        HEADER RIGHT
    **/

        #header-right {
            margin-top:144px;
        }
        #header-right li {
            float: left;
            display:block;
            margin-right:2px;
            min-width:233px;
        }
        #header-right li a {
            display:block;
        }
        #header-right li span {
            display:none;
        }

	
/**
	MENU
**/
    #menu {
		overflow:hidden;
    }
    #menu li {
    }
    #menu li a {
        background:#494949;
        color: #fff;
        text-decoration:none;
        text-transform:uppercase;
    }
    #menu li a.hover {
        background:#f00;
    }
	
/**
	FOOTER
**/
    #footer {
    
	}
    
/**
	CONTENU
**/
    #content {
        background:#cfcfcf /*url(/img/site/misc/bg_content.jpg) no-repeat right center*/;
    }

    /**
        CONTENU TOP // BOTTOM
    **/
        .mosaic {
            height:460px;
        }
        .line-container {
            position:relative;
            overflow:hidden;
            height:228px;
        }
        .mosaic #content-top,
        .mosaic #content-bottom {
            overflow:hidden;
            height:227px;
            position:absolute;
        }
        .mosaic #content-top li,
        .mosaic #content-bottom li {
            float:left;
            display:block;
        }
        .mosaic #content-top li a,
        .mosaic #content-bottom li a {
            display:block;
            width: 227px;
            height: 490px;
            overflow:hidden;
            margin-right:5px;
            background:#000;
            position:relative;
            text-decoration:none;

            -moz-transform:skew(-45deg);
            -webkit-transform:skew(-45deg);
            -o-transform:skew(-45deg);
        }

        .mosaic #content-top li a span.content-project {
            display:block;
            margin-left: -115px;
            margin-top: -1px;

            -moz-transform:skew(45deg);
            -webkit-transform:skew(45deg);
            -o-transform:skew(45deg);
        }

    /**
        CONTENU BOTTOM
    **/
        .mosaic #content-bottom {
            margin-top:5px;
            padding-left:255px;
        }

        .mosaic #content-bottom li a {
            -moz-transform:skew(45deg);
            -webkit-transform:skew(45deg);
            -o-transform:skew(45deg);
        }

        .mosaic #content-bottom li a span.content-project {
            display:block;
            margin-left: -115px;
            margin-top: -1px;
            
            -moz-transform:skew(-45deg);
            -webkit-transform:skew(-45deg);
            -o-transform:skew(-45deg);
        }

    /**
        KEYWORDS
    **/
        .keywords {
            display:block;
            position:absolute;
            width:400px;

            bottom:15px;
            left:140px;
        }
        .keywords span {
            display: block;
            background: #f09;
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            padding:3px;
            margin-top:4px;
            margin-left: 210px;
        }

        #content-bottom .keywords {
            left:270px;
        }


/**
    HAS JS Animation
**/
    .hasJS #content {
        width:0;
    }

    .hasJS #header-left,
    .hasJS #menu li,
    .hasJS .mosaic #content-top li.project,
    .hasJS .mosaic #content-bottom li.project {
        display:none;
    }


.skew {
    background:#fff;
    float:left;

    -moz-transform:skew(-45deg);
    -webkit-transform:skew(-45deg);
    -o-transform:skew(-45deg);
    overflow:hidden;
}
.skew div {
    background:#f00;
    -moz-transform:skew(45deg);
    -webkit-transform:skew(45deg);
    -o-transform:skew(45deg);
}